<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chat Overlay</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./public/overlay.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script id="overlay" src="./public/overlay.js" data-align="<%= align %>" data-nofade="<%= nofade %>"></script>
  </head>
  <body>
      <div class="relative w-screen h-screen">
          <div id="shoutOutOverlay" class="absolute left-0 top-0 z-10 h-screen w-screen"></div>
          <div id="chatOverlay" class="absolute left-0 top-0 z-0 h-screen w-screen">
            <div id="chatContainer" class="absolute top-[<%= chattop %>px] left-[<%= chatleft %>px] w-[<%= chatwidth %>px] h-[<%= chatheight %>px] <% if(chatguide == "true") { %>border-2 border-white <% } %>grid grid-cols-1 content-end<% if(align == "right") { %> justify-items-end <% } %>"></div>
          </div>    
      </div>
  </body>
</html>