body {
    background-color: rgba(0, 0, 0, 0); 
    color: #000000;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  5%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  5%, 100% {
    opacity: 1;
  }
}

@keyframes slideInOut {
  0% {
    left: -1000px;
  }
  2%,98% {
    left: 0px;
  }
  100% {
    left: -1000px;
  }
}

.fade { 
  animation: fadeInOut 10s ease-in-out 0s forwards;
}

.fade-in {
  animation: fadeIn 10s ease-in 0s forwards;
}

.slide {
  animation: slideInOut var(--duration) ease-in-out 0s forwards;
}

